In [8]:
from pyspark import SparkContext
sc = SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-1-518acaae9acb>:2

In [9]:
# Calculate Average of the following data using Spark RDD
rdd = sc.parallelize([('Barcelona',2), ('Rome',3), ('Paris',4), ('Vegas',5), ('Barcelona', 8), ('Vegas',9), ('Rome',3)])
rdd.collect()

[('Barcelona', 2),
 ('Rome', 3),
 ('Paris', 4),
 ('Vegas', 5),
 ('Barcelona', 8),
 ('Vegas', 9),
 ('Rome', 3)]

In [10]:
rdd_mapped = rdd.map(lambda item: (item[0], [item[1], 1]))
rdd_mapped.collect()

[('Barcelona', [2, 1]),
 ('Rome', [3, 1]),
 ('Paris', [4, 1]),
 ('Vegas', [5, 1]),
 ('Barcelona', [8, 1]),
 ('Vegas', [9, 1]),
 ('Rome', [3, 1])]

In [12]:
rdd_reduced = rdd_mapped.reduceByKey(lambda a,b: (a[0] + b[0], a[1] + b[1]))
rdd_reduced.collect()

[('Barcelona', (10, 2)),
 ('Paris', [4, 1]),
 ('Vegas', (14, 2)),
 ('Rome', (6, 2))]

In [13]:
rdd_average = rdd_reduced.map(lambda item: (item[0], item[1][0] / item[1][1]))
rdd_average.collect()

[('Barcelona', 5.0), ('Paris', 4.0), ('Vegas', 7.0), ('Rome', 3.0)]

## Dataframes / SQL

In [14]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [15]:
from pyspark import Row
rdd_for_df = rdd.map(lambda item: Row(city=item[0], counts=item[1]))
rdd_for_df.collect()

[Row(city='Barcelona', counts=2),
 Row(city='Rome', counts=3),
 Row(city='Paris', counts=4),
 Row(city='Vegas', counts=5),
 Row(city='Barcelona', counts=8),
 Row(city='Vegas', counts=9),
 Row(city='Rome', counts=3)]

In [16]:
# Convert the rdd to dataframe
df_city = rdd_for_df.toDF()
df_city.show()

+---------+------+
|     city|counts|
+---------+------+
|Barcelona|     2|
|     Rome|     3|
|    Paris|     4|
|    Vegas|     5|
|Barcelona|     8|
|    Vegas|     9|
|     Rome|     3|
+---------+------+

In [17]:
# use the dataframe's native functions
# NOTE: It is allowed to couple multiple dataframe operations together as one line
df_city.groupBy('city').avg('counts').show()

+---------+-----------+
|     city|avg(counts)|
+---------+-----------+
|    Vegas|        7.0|
|    Paris|        4.0|
|Barcelona|        5.0|
|     Rome|        3.0|
+---------+-----------+

In [18]:
# alternatively, you could use a sql query
df_city.createOrReplaceTempView("CityTable")

In [20]:
avg_query = spark.sql("SELECT city, AVG(counts) FROM CityTable GROUP BY city") # use alias
avg_query.show()

+---------+-----------+
|     city|avg(counts)|
+---------+-----------+
|    Vegas|        7.0|
|    Paris|        4.0|
|Barcelona|        5.0|
|     Rome|        3.0|
+---------+-----------+

### MULTIPLE DATA SOURCES

In [21]:
df_people_1 = spark.read.json("data/people_1.json")
df_people_1

DataFrame[age: bigint, name: string]

In [22]:
df_people_1.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
df_people_1.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [57]:
# create additional data
rdd_people_2 = sc.parallelize([Row(name="Alice", age=45), Row(name="Bran", age=15)])
df_people_2 = rdd_people_2.toDF()
df_people_2.show()

+---+-----+
|age| name|
+---+-----+
| 45|Alice|
| 15| Bran|
+---+-----+

In [25]:
# Write the file as a parquet file
df_people_2.write.parquet("data/people2.parquet")

In [26]:
# optional: read the file back to see if you could load the file back
df_people_2 = spark.read.parquet("data/people2.parquet")
df_people_2

DataFrame[age: bigint, name: string]

In [27]:
df_people_2.show()

+---+-----+
|age| name|
+---+-----+
| 45|Alice|
| 15| Bran|
+---+-----+

In [28]:
# Combine the data
df_people = df_people_1.union(df_people_2)
df_people.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
|  45|  Alice|
|  15|   Bran|
+----+-------+

In [29]:
df_people_filtered = df_people.filter(df_people['age'] >21)
df_people_filtered

DataFrame[age: bigint, name: string]

In [30]:
df_people_filtered.show()

+---+-----+
|age| name|
+---+-----+
| 30| Andy|
| 45|Alice|
+---+-----+

In [31]:
df_people_filtered.write.parquet("data/people_filtered.parquet")

### Create DF from RDD which is created from a text file

In [32]:
lines = spark.sparkContext.textFile("data/people.txt")  # Read the file

In [60]:
rdd_noschema = lines.map(lambda x: x.split(','))
rdd_noschema.collect()

[['Michael', ' 29'], ['Andy', ' 30'], ['Justin', ' 19']]

In [34]:
df_noschema = spark.createDataFrame(rdd_noschema)
df_noschema

DataFrame[_1: string, _2: string]

In [35]:
df_noschema.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [36]:
df_noschema.show()

+-------+---+
|     _1| _2|
+-------+---+
|Michael| 29|
|   Andy| 30|
| Justin| 19|
+-------+---+

#### Provide only field names , no field types

In [37]:
def infer_mapper(line):
    s = line.split(',')
    return Row(name=s[0], age=int(s[1]))

In [38]:
from pyspark import Row
rdd_headers = lines.map(infer_mapper)
rdd_headers.collect()

[Row(age=29, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [61]:
df_headers = spark.createDataFrame(rdd_headers)
df_headers.show()

+---+-------+
|age|   name|
+---+-------+
| 29|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [40]:
df_headers.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [41]:
df_headers.show()

+---+-------+
|age|   name|
+---+-------+
| 29|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

#### Provide the schema with field names and field types

In [42]:
from pyspark.sql.types import *
fields = [StructField("name", StringType(), True), StructField("age", IntegerType(), True)]
schema = StructType(fields)

In [43]:
def schema_mapper(line):
    s = line.split(',')
    return (s[0], int(s[1]))

In [44]:
rdd_schema = lines.map(schema_mapper)

In [45]:
df_schema = spark.createDataFrame(rdd_schema, schema)
df_schema

DataFrame[name: string, age: int]

In [46]:
df_schema.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [47]:
df_schema.show()

+-------+---+
|   name|age|
+-------+---+
|Michael| 29|
|   Andy| 30|
| Justin| 19|
+-------+---+

#### User Exercises

In [83]:
# List all the people whose names start with A
df_people.show()
df_people.filter(df_people["name"].startswith("A")).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
|  45|  Alice|
|  15|   Bran|
+----+-------+

+---+-----+
|age| name|
+---+-----+
| 30| Andy|
| 45|Alice|
+---+-----+

In [86]:
# list all people whose age is null
df_people.filter(df_people["age"].isNull()).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
+----+-------+

In [90]:
# replace null values with 0
df_people.fillna(-1).show()

+---+-------+
|age|   name|
+---+-------+
| -1|Michael|
| 30|   Andy|
| 19| Justin|
| 45|  Alice|
| 15|   Bran|
+---+-------+

In [96]:
# replace the age of andy with a value 10
df_people.replace("Andy", "Dupa").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Dupa|
|  19| Justin|
|  45|  Alice|
|  15|   Bran|
+----+-------+

In [100]:
# replace names justin and bran with j and b respectively
# hint: you can pass a list to replace multiple values
replacements = {'Justin': 'Justyna', 'Alice': 'Alicja'}

df_people.replace(replacements).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19|Justyna|
|  45| Alicja|
|  15|   Bran|
+----+-------+

In [53]:
# List all people whose ages are between 40 and 20

In [102]:
df_city.show()
# list down the sum of all the counts for each city ordered by the sum
df_city.groupBy('city').sum('counts').show()

+---------+------+
|     city|counts|
+---------+------+
|Barcelona|     2|
|     Rome|     3|
|    Paris|     4|
|    Vegas|     5|
|Barcelona|     8|
|    Vegas|     9|
|     Rome|     3|
+---------+------+

+---------+-----------+
|     city|sum(counts)|
+---------+-----------+
|    Vegas|         14|
|    Paris|          4|
|Barcelona|         10|
|     Rome|          6|
+---------+-----------+

In [55]:
# list down the count of counts for each